<!DOCTYPE html>
{% extends 'journal/base.html' %}

{% block content %}
    <h1>UNDER CONSTRUCTION</h1>
<p>The Journal site is under construction. The only site working is the Mozilla tutorial below.</p>
<hr/>
<a href="{% url 'catalog:index' %}"><h3>Django Mozilla Tutorial</h3></a>


<!--
----------------------------
    OLD SUFF:
----------------------------
        <div>
            <a href="/activity/no_sugar/"><h3>No Sugar Form</h3></a>
            <a href="/activity/no_sugar_history/"><h3>No Sugar History</h3></a>
        </div>

        <hr>

        <div>
            <h1>Sweet Home Aceh40</h1>
        </div>

        <div>
            <h3>No Sugar Habit:</h3>
            <a href="{# url 'no_sugar' #}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h3><a href="">My first post</a></h3>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h3><a href="">My second post</a></h3>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>

 -->

{% endblock %}
